<html>

<head>
<title>Cal Water</title>
</head>

<body>
<h2><center><b>Current Levels of California Reservoirs</b></center></h2>
<br>
<p>This report pulls the latest reservoir water data for California. We map the counties covered per hydrologic region as well as the reservoirs within those hydrologic regions. We also scraped the current levels per region (as of mid February).<br> A hydrologic region is a geographic area defined by a water basin or shed or other distinct geographic feature (like river, lake, etc).</p>
<!--begin.rcode echo=FALSE, include=FALSE
require(plyr)
require(ggplot2)
require(ggmap)
require(mapdata)
require(reshape2)
require(tm)

options(scipen=99999)

setwd('~/Documents/cmps263/final project/')

res_meta = read.csv("reservoir_metadata.csv")
res_tots = read.csv("area_reservoir_totals_forr.csv")
county_pop = read.csv("california_population_est.csv")
#county_usg = read.csv("usco2010_cal_waterusage_est_bycounty.csv")
hyrologic = read.csv("ca_county_hydrologicregion.csv")
hydrologic_coll = read.csv("hydrologic_counties_overlap.csv")

###graphing data
keeps = c('county', 'operations_agency', 'latitude', 'longitude')
resmeta_latlon = res_meta[,names(res_meta) %in% keeps]

#melt cols, X2016_1000_af, X2017_1000_af
year_keeps <- c('area', 'X2016_1000_af', 'X2017_1000_af')
year_res_tots = res_tots[,names(res_tots) %in% year_keeps]
year_res_melt = melt(year_res_tots, id=c('area'))

#melt cols perc_ave, perc_cap
perc_keeps <- c('area', 'perc_ave', 'perc_cap')
perc_res_tots = res_tots[,names(res_tots) %in% perc_keeps]
perc_res_melt = melt(perc_res_tots, id=c('area'))

color_palette = c("#cccccc", "#333333")

#populations per county                  
county_map <- map_data("county")
county_map_ca = subset(county_map, region=='california')
state_map <- map_data("state")
state_map_ca = subset(state_map, region=='california')
county_pop$subregion = trimws(removeWords(tolower(county_pop$County), 'county'))
county_pop$region = 'california'

ca_pop_map <- merge(county_map_ca, county_pop, by.x=c("region", "subregion"),
                  by.y=c("region", "subregion"))

#usg per county 2010
#county_usg$subregion = trimws(removeWords(tolower(county_usg$COUNTY), 'county'))
#county_usg$region = 'california'

#ca_usg_map <- merge(county_map_ca, county_usg, by.x=c('region', 'subregion'),
#                    by.y=c("region", "subregion"), all.x=TRUE)

#hydrologic data
hyrologic$subregion = hyrologic$county
hyrologic$region = 'california'

ca_hyr_map <- merge(county_map_ca, hyrologic, by.x=c("region", "subregion"),
                  by.y=c("region", "subregion"))

hydrologic_csmall = hydrologic_coll[,names(hydrologic_coll) %in% c('long', 'lat', 'direction')]
names(resmeta_latlon) = c("lat", "long", "county")
resmeta_latlon$subregion = trimws(tolower(resmeta_latlon$county))
resmeta_latlon = resmeta_latlon[resmeta_latlon$subregion %in% county_map_ca$subregion,]

hydro_palette <- c("#33CCFF", "#99CCFF", "#CC66CC", "#CC0033", "#FF66CC",
                    "#CCCCCC", "#FF99CC", "#3399FF", "#336699", "#0066FF")
end.rcode-->

<div class="col2">
<h4>Location of California Reservoirs and Hydrologic Regions wrt County lines</h4>
<p>where &#9675; denotes a reservoir</p>
<!--begin.rcode echo=FALSE
final_map <- ggplot(ca_hyr_map, aes(x=long, y=lat, group=group)) +
  geom_polygon(aes(fill=hydrologic_region)) + scale_fill_manual(values=hydro_palette) +
  expand_limits(x = ca_hyr_map$long, y = ca_hyr_map$lat) +
  coord_map("polyconic") + 
  geom_path( data = state_map_ca , colour = "white") + 
  #ggtitle("California Water Supply: Hydrologic Regions and Reservoirs") +
  scale_shape_identity() +
  #geom_point(data=hydrologic_csmall, inherit.aes = F, aes(x=long, y=lat, shape=18)) + 
  geom_point(data=resmeta_latlon, inherit.aes = F, aes(x=long, y=lat, shape=21)) +
  theme(legend.position = "bottom", panel.background =  element_rect(fill = "#ccffff"))
plot(final_map)
end.rcode-->

<h4>Reservoir Levels as a Percentage of Average and Capacity per Hydrologic Region</h4>
<p>Grey is the percentage comparison of this years current level as it relates to the average.
Black is the percentage comparision of this years current level as it relates to the total capacity of the region.</p>
<!--begin.rcode echo=FALSE
plot_percres <- ggplot(perc_res_melt, aes(x=factor(area), y=value, fill=variable)) +
                  geom_bar(stat='identity', position='dodge') +
                    theme(axis.text.x = element_text(angle = 45, hjust = 1)) +
                      scale_fill_manual(values=color_palette) +
                        #ggtitle("Current Levels as Percent of Average and Percent of Capacity per Region") + 
  theme(panel.background = element_rect(fill = "#ffffff"), panel.grid.major = element_line(colour = "black"))
plot(plot_percres)
end.rcode-->
</div>

<div class="col2">
<h4>California Population, 2015 estimate</h4>
<h5>estimate based on 2010 census</h5>
<!--begin.rcode echo=FALSE
pop_map <- ggplot(ca_pop_map, aes(x=long, y=lat, group=group)) +
  geom_polygon(aes(fill=Population)) +
  expand_limits(x = ca_pop_map$long, y = ca_pop_map$lat) +
  coord_map("polyconic") + 
  geom_path( data = state_map_ca , colour = "white") + 
  #ggtitle("California Population per County") +
  theme(panel.background =  element_rect(fill = "#ccffff"))
plot(pop_map)
end.rcode-->
<h4>California Population per Hydrologic Region</h4>
<h5>(based on 2015 estimate)</h5>
<!--begin.rcode echo=FALSE
hydro_pop <- merge(hyrologic, county_pop, by=c('region', 'subregion'))
hydro_pop_ddply = ddply(hydro_pop, .(hydrologic_region), summarise, population = sum(Population))

hydro_pop_bar <- ggplot(hydro_pop_ddply, aes(x=factor(hydrologic_region), y=population)) +
          geom_bar(stat='identity', fill='#333333') + theme(axis.text.x = element_text(angle = 45, hjust = 1)) + 
  geom_text(aes(label=population), position=position_dodge(width=0.9), vjust=-0.25) +
  theme(panel.background = element_rect(fill = "#ffffff"), legend.position="none")
plot(hydro_pop_bar)
end.rcode-->
</div>
<div>
<p><b>Amber O'Connell: aoconnel@ucsc.edu<br>UCSC CMPS 263 Winter 2017, Dr. Suresh Lodha</b></p>

<h4>Citations</h4>
<ul>
    <li>California Dept of Water Resources</li>
      <ul> <li><a href="https://cdec.water.ca.gov/cgi-progs/reservoirs/STORSUM", target="_blank">Summary of Storage in Major Reservoirs</a> (February 21, 2017)</li>
           <li><a href="http://cdec.water.ca.gov/misc/monthly_res.html", target="_blank">End of Month Reservoir Storage</a> (February 28, 2017)</li>
      </ul>
    <li><a href="http://www.ppic.org/main/mapdetail.asp?i=1576", target="_blank">PPIC: California Hydrologic Regions and Counties</a></li>
    <li><a href="http://www.california-demographics.com/counties_by_population", target="_blank">California Demographics by Cubit: California Population by Counties</a></li>
</ul>
</div>

</body>

<style>
  .col2 {
    columns: 2 250px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 250px; /* chrome, safari */
    -moz-columns: 2 250px;    /* firefox */
  }
  .col3 {
    columns: 3 200px;
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
  }
</style>
</html>
